* {
    text-align: center;
    font-family: 'Melted Monster';
    color: red;
    background-color: rgb(29, 27, 27);
    padding: 1px;
}

@font-face {
    font-family: "Melted Monster";
    src: url(Melted_Monster.ttf);
}

body {
    display: flex;
    height: 96vh;
}

h1 {
    font-size: 75px;
    margin: 20px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #030000, 0 0 40px #030000, 0 0 50px #030000, 0 0 60px #030000, 0 0 70px #030000, 0 0 80px #030000;
    }
  }


h2 {
    font-size: 60px;
    background-color: black;
}

h3 {
    font-size: 45px;
    background-color: black;
    margin-top: 10px;
}

h4 {
    font-size: 20px; 
    background-color: red;
    color: black;
    margin: 5px;
}

main {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    height: 100vh;
    width: 20%;
    background-color: black;
    display: flex;
    flex-flow: column;
}

button {
    padding: 20px;
    border: dotted red;
    width: 100px;
    flex-direction: row;
    align-self: center;
    cursor: pointer;
}

.sub-title {
    background-color: rgb(29, 27, 27);
}

.game-mode-text {
    color: black;
    background-color: red;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 75px;
    margin: 20px;
}

.game-mode {
    background-color: red;
    width: 400px;
    margin-bottom: 50px;
    padding: 3px;
}

.moves {
    background-color: red;
    width: 450px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-choices {
    background-color: red;
    font-size: 200px;
}

.game-board-easy, .game-board-hard {
    background-color: red;
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.game-board-hard {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}