* {
    /* border: solid salmon; */
    text-align: center;
    font-family: 'Melted Monster';
    color: red;
    background-color: rgb(29, 27, 27);
}

@font-face {
    font-family: "Melted Monster";
    src: url(Melted_Monster.ttf);
}

body {
    display: flex;
    height: 96vh;
}

h1 {
    font-size: 75px;
    margin: 20px;
}

h2 {
    font-size: 60px;
    background-color: black;
}

h3 {
    font-size: 40px;
    background-color: black;
    margin-top: 10px;
}

h4 {
    font-size: 20px; 
    background-color: red;
    color: black;
}

main {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-mode-text {
    color: black;
    background-color: red;
    margin-bottom: 15px;
    cursor: pointer;
}

.game-mode {
    background-color: red;
    /* border: solid blue; */
    width: 400px;
    margin-bottom: 50px;
}

.game-board-easy {
    background-color: red;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

.game-board-hard {
    background-color: red;
    width: 400px;
    height: 400px;
    display:flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


aside {
    height: 100%;
    width: 20%;
    background-color: black;
    display: flex;
    flex-flow: column;
}

button {
    padding: 20px;
    border: dotted red;
    width: 100px;
    /* flex-direction: row; */
    align-self: center;
}


.hidden {
    display: none;
    }